@import './fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #E0E0E0;
}

.header {
    background-color: black;
}

.header .container {
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 15px;
    max-width: 1200px;
    margin: auto;
}

.logo img {
    max-height: 40px;
}

.header input[type=text] {
    float: right;
    height: 35px;
    padding: 0 15px;
    border: none;
    font-size: 17px;
    outline: none;
    background-color: #252525;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

.header input[type=text]::placeholder {
    color: white;
    font-weight: 600;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header__nav-button {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.products .container{
    padding: 50px 15px
}

.products .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.products .title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
}

.products__card {
    border-radius: 50px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 331px;
    height: 502px;
}

.products__card-img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.products__card-title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
}

.products__card-price {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}

.products__card-btn {
    width: 135px;
    height: 50px;
    border-radius: 50px;
    background: #5277FD;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}
.wrapper {
    display: flex;
}